.big{
    padding-left: 100px;
    padding-right: 100px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header-logo{
    color: #E5E7EB;
}
li{
    font-size: 18px;
    color: #E5E7EB;
}
.first-container{
    background-color: #1F2937;
}

.first-container,.second-container,.quote-container{
    height: 600px;
}

ul{
    list-style: none;
    display: flex;
    gap: 15px;
}
.txt{
    color: #f9faf8;
    font-size: 48px;
    font-weight:bolder;
    width: 400px;
    
}

.image-div{
    background-color: gray;
    width: 600px;
    height: 300px;
    margin-top: 45px;
}

.secondary-text{
    color: #f9faf8;
    font-size: 18px;
    width: 550px;
}
.awesome{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
body{
    
    font-family: 'Roboto', sans-serif;
}
.text-container{
    width: 600px;
}
.quote-container{
    background-color: #E5E7EB;
}
button{
    font-size: 18px;
    font-weight: bold;
    width: 135px;
    height: 40px;
    color: #E5E7EB;
    background-color: #3882f6;
    border-radius: 9px;
    border: 0px;
}
.second-container{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.images{
    display: flex;
    gap: 10px;
}
.img-container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 160px;
    text-align: center;
}
.divi{
    border-style: solid;
    border-radius: 12px;
    border-width: 4px;
    border-color: #3882f6;
    height: 160px;
    width: 160px;
}

.extra{
    margin-bottom: 75px;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}